.user {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 1em;
}

.ava {
    width: 100px;
    height: 100px;
}


.cont {
    display: grid;
    grid-template-columns: 40px 40px 20px;
    grid-gap: 1em;
}

