.user {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 1em;
}

.ava {
    width: 100px;
    height: 100px;
}


.cont {
    display: grid;
    grid-template-columns: 40px 40px 20px;
    grid-gap: 1em;
}

.on {
    border: black solid 1px;
}

.on.active {
    background: #2fee2f;
    border: none;
}

.off {
    border: black solid 1px;
}

.off.active {
    border: none;
    background: #dd3333;
}

.diode.on {
    background: #2fee2f;
}

.diode {
    height: 10px;
    width: 10px;
    align-self: center;
    border: none;
    border-radius: 100%;
    background: #dd3333;
}