.text {
    width: 100%;
    -webkit-box-shadow: inset 8px 8px 8px 0 #dddddd;
    -moz-box-shadow: inset 8px 8px 8px 0 #dddddd;
    box-shadow: inset 8px 8px 8px 0 #dddddd;
    outline: none;
    border-radius: 6px;
    resize: none;
}