.header {
    grid-area: h;
    background: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    float: right;
}

.active {
    color: white;
}

.hyper {
    text-decoration: none;
}