.text {
    width: 100%;
    -webkit-box-shadow: inset 4px 4px 4px 0 #dddddd;
    -moz-box-shadow: inset 4px 4px 4px 0 #dddddd;
    box-shadow: inset 4px 4px 4px 0 #dddddd;
    outline: none;
    border-radius: 6px;
    resize: none;
    height: 60px;
    /*display: inline-block;*/
}

.ava {
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: grey;
    margin: 0 auto;
}

/*.space{*/
/*    display: inline-block;*/
/*    width: 60px;*/
/*}*/
.container {
    /* display: grid;
     grid-template-columns: 60px 1fr;*/
    height: 60px;
    /*padding: 10px;*/
}